h1 {
    color: #46260c;
    text-align: center;
  }
  h2 {
    font-style: italic;
    text-align: center;
    color: #194e34;
  }
  p {
    color: #68343f;
  }
  body {
    background-color: #935aa1;
    font-family: sans-serif;
  }